body{
  margin: 0; padding: 0;
  width: 100vw; height: 100vh;
  background-color: #F3F3F3;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#loginContainer{
  width: 620px;
  height: 515px;
  background-color: white;
  padding: 3rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
#titleBox{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
#titleBox h1{
  font-size: 32px;
}
#logo{
  width: 80px;
  height: 150px;
  background-image: url(../assets/logo.png);
}
form{
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}
form input{
  height: 50px;
  border: 1px solid #989898;
  border-radius: 5px;
  padding: 15px 2rem;
  box-sizing: border-box;
  font-size: 14px;
}
form button{
  height: 50px;
  background-color: #5F245C;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 14px;
}
#warningPhrase p{
  font-size: 12px;
  margin: 0;
}
footer{
  width: 620px;
  margin-top: 9px;
}
footer p, address{
  color: #989898;;
  font-size: 12px;
  margin: 3px 0;
  font-style: normal;
}