/* 모달창 관련 css */
.modal{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

/* 공지사항 등록 */
.addnotice{
  width: 498px; height: 698px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 4.8px;
  padding-bottom: 15px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  display: none;
}
.modal h3{
  margin: 0;
  font-size: 16px;
  letter-spacing: -0.96px;
}
.closeIcon{
  width: 52px; height: 56px;
  background-image: url(../assets/Button\ -\ Close.png);
  cursor: pointer;
}
.modalHeader{
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px;
}
.addnotice form{
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
  padding: 26px;
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.addnotice form>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addnotice form label{
  font-size: 14px;
  letter-spacing: -0.48px;
}
.addnotice form input{
  box-sizing: border-box;
  border: 1px solid #999999;
  border-radius: 3px;
  padding-left: 12.5px;
  font-size: 14px;
  letter-spacing: -0.84px;
}
#title{
  width: 329.5px;
  height: 32px;
}
#description{
  width: 329.5px;
  height: 369px;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: -0.84px;
}
input[type='file'] {
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
}
.searchFileBox{
  display: flex;
  align-items: center;
  gap: 10px;
}
#searchFile{
  width: 76.92px;
  height: 32px;
  border: 1px solid #515151;
  border-radius: 3px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #686868;
  font-size: 14px;
  letter-spacing: -0.84px;
  box-sizing: border-box;
  cursor: pointer;
}
#searchFileInput{
  display: flex;
  width: 245px;
  height: 32px;
  background-color: #F4F4F4;
  border: 1px solid #989898;
  border-radius: 4px;
  color: #686868;
  font-size: 14px;
  letter-spacing: -0.84px;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
}
#buttonBox{
  display: flex;
  justify-content: end;
  padding: 0 26px;
}
#buttonBox button{
  width: 66px; height: 32px;
  margin-top: 16px;
  font-size: 14px;
  letter-spacing: -0.84px;
  background-color: white;
  border-radius: 3px;
}
.addnotice #buttonBox button{
  color: #5F0080;
  border: 1px solid #5F245C;
}

/* 공지사항 상세 */
.noticeDetails{
  width: 498px; height: 567.5px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 4.8px;
  padding-bottom: 15px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  display: none;
}
#detailsContainer{
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
  padding: 26px;
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
#detailsContainer>div{
  display: flex;
  align-items: center;
  gap: 24px;
}
#detailsContainer h4{
  width: 116.5px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: -0.84px;
}
#detailsContainer p{
  margin: 0;
  font-size: 14px;
  letter-spacing: -0.84px;
  max-width: 300px;
}
.sampleImgBox{
  width: 135px;
  height: 131.5px;
  background-image: url(../assets/sampleimg.png);
}
.noticeDetails #buttonBox{
  gap: 21px;
}
.noticeDetails #buttonBox button:nth-child(1){
  color: #7B7B7B;
  border: 1px solid #686868;
}
.noticeDetails #buttonBox button:nth-child(2){
  color: #FF4747;
  border: 1px solid #FF4747;
}
.noticeDetails #buttonBox button:nth-child(3){
  color: black;
  border: 1px solid black;
}

/* 공지사항 수정 */
.modifyNotice{
  width: 498px; height: 953.5px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 4.8px;
  padding-bottom: 15px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  /* display: none; */
}
.modifyNotice form{
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
  padding: 26px;
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.modifyNotice form>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modifyNotice form label{
  font-size: 14px;
  letter-spacing: -0.48px;
}
.modifyNotice form input{
  box-sizing: border-box;
  border: 1px solid #999999;
  border-radius: 3px;
  padding-left: 12.5px;
  font-size: 14px;
  letter-spacing: -0.84px;
}
#titleModify{
  width: 329.5px;
  height: 32px;
}
#descriptionModify{
  width: 329.5px;
  height: 369px;
  padding: 8px 14.5px;
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: -0.84px;
}
input[type='file'] {
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
}
#searchFileModify{
  width: 76.92px;
  height: 32px;
  border: 1px solid #515151;
  border-radius: 3px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #686868;
  font-size: 14px;
  letter-spacing: -0.84px;
  box-sizing: border-box;
  cursor: pointer;
}
#searchFileInputModify{
  display: flex;
  width: 245px;
  height: 32px;
  background-color: #F4F4F4;
  border: 1px solid #989898;
  border-radius: 4px;
  color: #686868;
  font-size: 14px;
  letter-spacing: -0.84px;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
}
.modifyNotice h4{
  width: 116.5px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: -0.84px;
}
.modifyNotice p{
  margin: 0;
  font-size: 14px;
  letter-spacing: -0.84px;
  max-width: 300px;
}




.modifyNotice #buttonBox button{
  color: #5F0080;
  border: 1px solid #5F245C;
}