@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{
  margin: 0; padding: 0;
  min-height: 100vh;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
}
header{
  width: 217px;
}
button{
  cursor: pointer;
}
input, textarea{
  font-family: "Noto Sans KR", sans-serif;
}
#logoContainer{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px;
  box-sizing: border-box;
  border-bottom: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
}
nav{
  width: 100%; height: calc(100% - 60px);
  border-right: 1px solid #E3E3E3;
  box-sizing: border-box;
  padding: 0 30px;
}
nav ul, nav li{
  list-style: none; 
  margin: 0;
  padding: 0;
  font-size: 14px;
}
nav>ul>li:not(:nth-child(1)){
  border-bottom: 1px solid #E3E3E3;
}
nav a{
  line-height: 44px;
  text-decoration: none;
  color: #7B7B7B;
}
nav>ul>li>a{
  font-weight: 600;
}
nav>ul>li>ul>li>ul>li{
  display: flex;
  align-items: center;
  display: none;
}
#logo{
  width: 40px;
  height: 35px;
  background-image: url(../assets/logo2.png);
}
#menuButton{
  width: 22.56px;
  height: 25px;
  background-image: url(../assets/menuButton.png);
  background-repeat: no-repeat;
}
.iconMenus{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.iconMenus>div:nth-child(1){
  display: flex;
  align-items: center;
  gap: 10px;
}
#status{
  display: flex ;
  align-items: center;
  gap: 10px;
}
#status a{
  color: #5F0080;
}
.menuIcons{
  width: 20px; height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.grid_view{
  background-image: url(../assets/icons/grid_view.png);
}
.car_repair{
  background-image: url(../assets/icons/car_repair.png);
}
.switch_video{
  background-image: url(../assets/icons/switch_video.png);
}
.developer_guide{
  background-image: url(../assets/icons/developer_guide.png);
}
.car_tag{
  background-image: url(../assets/icons/car_tag.png);
}
.account_balance{
  background-image: url(../assets/icons/account_balance.png);
}
.badge{
  background-image: url(../assets/icons/badge.png);
}
.clinical_notes{
  background-image: url(../assets/icons/clinical_notes.png);
}
.stream_apps{
  background-image: url(../assets/icons/stream_apps.png);
}
.signal_wifi_4_bar{
  background-image: url(../assets/icons/signal_wifi_4_bar.png);
}
.event_note{
  background-image: url(../assets/icons/event_note.png);
}
.export_notes{
  background-image: url(../assets/icons/export_notes.png);
}
.area_chart{
  background-image: url(../assets/icons/area_chart.png);
}
.bar_chart{
  background-image: url(../assets/icons/bar_chart.png);
}
.ssid_chart{
  background-image: url(../assets/icons/ssid_chart.png);
}
.filter_1{
  background-image: url(../assets/icons/filter_1.png);
}
.filter_2{
  background-image: url(../assets/icons/filter_2.png);
}
.filter_3{
  background-image: url(../assets/icons/filter_3.png);
}
.settings_account_box{
  background-image: url(../assets/icons/settings_account_box.png);
}
.settings{
  background-image: url(../assets/icons/settings.png);
}
.rightArrow{
  width: 24px; height: 24px;
  background-image: url(../assets/Dropdown.png);
  background-position: center;
  background-repeat: no-repeat;
}
main{
  position: relative;
}
#mainHeader{
  width: calc(100vw - 217px); height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
  border-bottom: 1px solid #E3E3E3;
  box-sizing: border-box;
  gap: 8px;
  padding-right: 46px;
  box-sizing: border-box;
}
#mainHeader p{
  font-size: 14px;
  color: #4A4A4A;
  font-weight: 500;
  letter-spacing: -0.84px;
}
#downArrow{
  width: 19.17px; height: 10px;
  background-image: url(../assets/Container.png);
  background-position: center;
  background-repeat: no-repeat;
}
#contentContainer{
  width: calc(100vw - 217px);
}
footer{
  width: calc(100vw - 217px); height: 66px;
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}



/* 메인 컨텐츠 검색창, 테이블, 페이지네이션 공통 css */
#contentContainer{
  padding: 50px 37px;
  box-sizing: border-box;
}
#contentContainer h2{
  font-size: 24px;
  font-weight: bold;
}
#searchForm{
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}
#searchForm>div{
  display: flex;
  border-top: 1px solid #B9B9B9;
}
#searchForm>div:nth-child(1){
  gap: 20rem;
}
#searchForm label{
  width: 216px; height: 50px;
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  border-right: 1px solid #B9B9B9;
}
#periodBox, #statusBox, #searchBox {
  display: flex;
  align-items: center;
}
.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px ;
  margin-left: 10px;
}
.date_inner {
  display: flex;
  width: 142px;
  align-items: center;
  border: 1px solid #7B7B7B;
  border-radius: 2px;
  position: relative;
}
.date_inner input{
  border: none;
  outline: none;
  text-align: center;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
}
.date_inner input::-webkit-inner-spin-button,
.date_inner input::-webkit-calendar-picker-indicator {
  display: none; 
  -webkit-appearance: none;
}
.date_inner img {
  width: 18px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
#periodBox input{
  height: 34px;
  padding-left: 5px;
}
#statusBox div{
  display: flex;
  align-items: center;
  margin-left: 10px;
}
#statusBox input:not(:nth-child(1)){
  margin-left: 31px;
}
#searchBox{
  border-bottom: 1px solid #B9B9B9;
}
#searchBox select{
  width: 136px; height: 34px;
  margin-left: 10px;
  border: 1px solid #7B7B7B;
  border-radius: 2px;
  padding-left: 10px;
}
#searchBox input{
  width: 693px; height: 34px;
  margin-left: 10px;
  border: 1px solid #7B7B7B;
  border-radius: 2px;
}
#searchForm button{
  width: 66px; height: 32px;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  background-color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1C1B1F;
  font-size: 14px;
  letter-spacing: -0.84px;
}
#list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  letter-spacing: -0.84px;
  margin-top: 49px;
}
#list>div{
  display: flex;
  align-items: center;
  gap: 10px;
}
#list>div>div{
  display: flex;
  /* align-items: center; */
}
#list select{
  width: 136px;
  height: 32px;
  border-radius: 2px;
  padding-left: 12px;
}
#list button{
  height: 32px;
  background-color: #FFFFFF;
  border: 1px solid #7B7B7B;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: -0.84px;
}
#addBtn{
  color: #5F245C;
  border: 1px solid #5F245C;
  cursor: pointer;
}
#contentContainer table{
  width: 100%;
  border: 1px solid #B9B9B9;
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
  table-layout: fixed;
}
#contentContainer th, #contentContainer td{
  border: 1px solid #B9B9B9;
  height: 38px;
}
#contentContainer th{
  background-color: rgba(0, 0, 0, 0.06);
}
#contentContainer tr:nth-child(2) td{
  background-color: rgba(198, 214, 226, .5);
}
#contentContainer tr:nth-child(16) td{
  color: #767676;
}
#pagination{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  font-size: 14px;
  color: #ABABAB;
}
#pagination>div:nth-child(1){
  color: black;
}
#pagination>div:nth-child(2){
  color: #5F0080;
  font-weight: bold;
}
#pagination>div:nth-child(12){
  color: black;
}